.listItem {
  width: 100%;

  :global {
    .ant-collapse,
    .ant-collapse-item,
    .ant-collapse-header {
      border: 0;
      width: 100%;
    }

    .ant-collapse-header {
      display: flex;
      align-items: center;

      strong {
        color: white;
        font-weight: 400;
      }
    }

    .ant-collapse-header:hover,
    .ant-collapse-header:focus {
      .ant-collapse-arrow {
        color: #32cbcb;
      }
    }

    .ant-list-item-meta {
      align-items: center;
    }

    .ant-list-item-meta-title h2 {
      margin-bottom: 0;
    }

    .anticon-delete svg {
      height: 1.3em;
      width: 1.3em;
    }
  }
}

.noResults {
  :global .ant-result-icon > .anticon {
    color: white;
  }
}
