.app {
  :global {
    .ant-layout-header {
      letter-spacing: 0.5em;
      height: 76px;
    }

    button:hover,
    button:focus {
      .anticon svg {
        color: #32cbcb;
      }
    }
  }
}

.addContactWrapper {
  display: flex;
  flex-direction: column;

  button svg {
    height: 1.5em;
    width: 1.5em;
  }
}
