.app {
  :global {
    button:hover .anticon svg {
      opacity: 0.5;
    }
  }
}

.addContactWrapper {
  display: flex;
  flex-direction: column;

  svg {
    height: 1.7em;
    width: 1.7em;
  }
}
